

.home-feature .ja-zinfp {
  margin-right: 0;
  margin-bottom: 5px;
}
.ja-zinfp {
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-top: 5px solid #ccc;
  border-left: 0;
  margin-right: 4px;
}
.ja-zintitle > a {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  text-transform: none;
  font-weight: bold;
  color: #A71269;
}
.ja-zintitle > a:hover {
  color: #2c2c2c;
}
.linear .ja-zin .subcats-selection {
  margin: 0;
}
.ja-zinfp-featured-wrap {
  background: url("../../../images/curl-bg-ltr.png") no-repeat right -1px;
  margin-top: -13px;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured .ja-zincontent-wrap {
  background: #fff;
  padding-bottom: 20px;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured h2.ja-zintitle {
  font-size: 175%;
  line-height: 1.275;
  background: #000;
  padding: 8px 12px;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured h2.ja-zintitle a {
  color: #ccc;
  text-decoration: none;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured .ja-zincontent-img {
  background: #000;
  margin: 0;
  padding: 5px 7px 0 5px;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured .ja-zincontent-img img {
  width: 100%;
  border: 1px solid #1f1f1f;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured .ja-zincontent p {
  line-height: 1.5;
  margin: 0 0 8px;
  padding: 2px 12px;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured-border {
  background: #fff;
  margin-right: 8px !important;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured-border:hover h2.ja-zintitle,
.ja-zinfp-featured-wrap .ja-zinfp-featured-border:hover .ja-zincontent-img {
  background: #A71269;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured-border:hover h2.ja-zintitle a,
.ja-zinfp-featured-wrap .ja-zinfp-featured-border:hover .ja-zincontent-img a {
  color: #fff;
}
.ja-zinfp-featured-wrap .ja-zinfp-featured-border:hover h2.ja-zintitle img,
.ja-zinfp-featured-wrap .ja-zinfp-featured-border:hover .ja-zincontent-img img {
  border-color: #90bdd3;
}
.ja-zinfp-wrap .ja-zinfp-normal {
  padding: 8px 0 0 0;
}
.ja-zinfp-wrap .ja-zinfp-normal h4.ja-zintitle {
  font-size: 12px;
  line-height: 16px;
}
.ja-zinfp-wrap .ja-zinfp-normal h4.ja-zintitle a {
  display: block;
  padding: 3px 8px;
}
.ja-zinfp-wrap .ja-zinfp-normal h4.ja-zintitle a:hover,
.ja-zinfp-wrap .ja-zinfp-normal h4.ja-zintitle a:active,
.ja-zinfp-wrap .ja-zinfp-normal h4.ja-zintitle a:focus {
  text-decoration: none;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zincontent {
  border-bottom: 1px solid #ccc;
  margin: 1px 8px 1px 0;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zincontent:hover,
.ja-zinfp-wrap .ja-zinfp-normal .ja-zincontent:hover a {
  background: #A71269;
  color: #fff;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zincontent-img {
  background: url("../../../images/stripe-bg-2.png") #ddd;
  border-right: 1px solid #ccc;
  padding: 6px;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zincontent-img.right {
  margin-right: 0;
  margin-left: 8px;
  float: right;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zincontent-img img {
  border: 3px solid #fff !important;
  margin: 0 !important;
  float: none !important;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zinintro {
  font-size: 11px;
  padding: 0 8px;
}
.ja-zinfp-wrap .ja-zinfp-normal .ja-zinintro p {
  line-height: 14px;
  margin: 0 !important;
}
.ja-zincontent p.readmore > a.readon {
  background: #ddd;
  color: #2c2c2c;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 3px 5px;
  position: relative;
  line-height: 14px;
}
.ja-zincontent p.readmore > a.readon:hover {
  text-decoration: none;
  color: #fff;
  background: #2c2c2c;
}
.ja-zincontent p.readmore > a.readon:hover:after {
  border-left: 10px solid #2c2c2c;
}
.ja-zincontent p.readmore > a.readon:after {
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ddd;
  border-top: 10px solid transparent;
  content: "";
  position: absolute;
  right: -9px;
  top: 0;
}
div.ja-zinfp-links-actions {
  border-top: 1px solid #ccc;
  background: #ddd;
  width: 100%;
}
div.ja-zinfp-links-actions a,
div.ja-zinfp-links-actions a:focus {
  border-left: 1px solid #ccc !important;
  border-right: none !important;
  color: #2c2c2c;
  font: 10px/normal Arial, sans-serif;
  padding: 4px 12px 3px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  float: right;
}
div.ja-zinfp-links-actions a:hover,
div.ja-zinfp-links-actions a:active {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
div.ja-zinfp-links-actions .box-counter {
  border-right: 1px solid #ccc;
  color: #2c2c2c;
  direction: ltr;
  font: 10px/normal Arial, sans-serif;
  padding: 4px 12px 3px;
  text-transform: uppercase;
  display: block;
  float: left;
}
div.ja-zinfp-links-actions .box-counter .counter {
  float: none;
}
a.ja-zinfp-links-actions-prev span {
  background: url("../../../images/back-btn-ltr.png") no-repeat left center;
  padding-left: 8px;
  display: inline-block;
}
a.ja-zinfp-links-actions-next span {
  background: url("../../../images/next-btn-ltr.png") no-repeat right center;
  padding-right: 8px;
  display: inline-block;
}
.sidebar .jazin-content span.jazin-content-text {
  background: url("../../../images/trans-w.png") repeat left top !important;
}
.sidebar .jazin-content:hover span.jazin-content-text {
  background-image: url("../../../images/trans-d.png") !important;
}
.sidebar div.jazin-contentwrap {
  border-bottom: 1px solid #fff;
}
.sidebar div.jazin-contentwrap .jazin-content {
  position: relative;
  overflow: hidden;
}
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner {
  position: relative;
  display: block;
  *zoom: 1;
}
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner:before,
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner:after {
  clear: both;
}
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner p {
  margin-bottom: 0;
  color: #ccc;
  display: none;
  padding: 5px;
}
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner span.jazin-title {
  color: #2c2c2c;
  display: block;
  font-size: 100%;
  font-weight: bold;
  margin: 0 !important;
  padding: 5px !important;
}
.sidebar div.jazin-contentwrap .jazin-content a.jazin-content-inner span.jazin-content-text {
  background: url("../../../images/trans-w.png") repeat left top;
  border-top: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 1.15;
}
.sidebar div.jazin-contentwrap .jazin-content .readmore {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
}
.sidebar div.jazin-contentwrap .jazin-content:hover a.jazin-content-inner span.jazin-content-text {
  background-image: url("../../../images/trans-d.png");
  border-top: 1px solid #000;
  height: auto;
}
.sidebar div.jazin-contentwrap .jazin-content:hover a.jazin-content-inner span.jazin-title {
  color: #fff;
}
.sidebar div.jazin-contentwrap .jazin-content:hover a.jazin-content-inner p {
  display: block;
}
.sidebar .jazin-image-wrap {
  margin-bottom: 5px;
}
.sidebar .jazin-image-wrap img {
  padding: 0;
}

